

      <!-- Content Header (Page header) -->
      <section class="content-header">
            <h1>
             Create New Location
            </h1>
           
          </section>
      
          <!-- Main content -->
          <section class="content">
            <div class="box box-solid box-info">
                    
                      <% if(errors) { %>
                        <% for(var i=0; i<errors.length; i++) { %>
                          <p class="alert alert-danger"> <%= errors[i] %></p>
                        <% } %>
                      <% } %>
                <div class="box-body">
                        <form action="/locations/store" method="POST">

                            <div class="form-group">
                                 <label for="">Name</label>
                                 <input type="text" class="form-control" name="name" />
                            </div>
                        
                            <div class="form-group">
                                    <label for="">Type</label>
                                    <select name="type" class="form-control">
                                        <option value="1">State/Region</option>
                                        <option value="2">City</option>
                                        <option value="3">Township</option>
                                    </select>
                               </div>
                        
                               <div class="form-group">
                                   <button class="btn btn-success">Submit</button>
                                   <a href="/locations" class="btn btn-warning">Cancel</a>
                               </div>
                        
                        </form>
                </div>
            </div>   
            
       </section>
</section>