

      <!-- Content Header (Page header) -->
      <section class="content-header">
            <h1>
             Edit Location
            </h1>
           
          </section>
      
          <!-- Main content -->
          <section class="content">
            <div class="box box-solid box-info">
                <div class="box-body">

                <form action="/locations/<%= location.id %>/update" method="POST">

                        <div class="form-group">
                             <label for="">Name</label>
                             <input type="text" class="form-control" name="name" value="<%= location.name %>"/>
                        </div>
                    
                        <div class="form-group">
                                <label for="">Type</label>
                                <select name="type" class="form-control">
                                    <option value="1" <%= (location.type == 1)? "selected": "" %>> State/Region </option>
                                    <option value="2" <%= (location.type == 2)? "selected": "" %>> City </option>
                                    <option value="3" <%= (location.type == 3)? "selected": "" %>>Township</option>
                                </select>
                           </div>
                    
                           <div class="form-group">
                               <button class="btn btn-success">Submit</button>
                               <a href="/locations" class="btn btn-warning">Cancel</a>
                           </div>
                    </form>

                </div>  
            </div>
       </section>
</section>