


      <!-- Content Header (Page header) -->
      <section class="content-header">
            <h1>
             Locations
            </h1>
           
          </section>
      
          <!-- Main content -->
          <section class="content">


    <p>
        <a href="/locations/create" class="btn btn-success">Add New</a>
    </p>

    <div class="box box-solid box-info">
            <% if(infos) { %>
                <% for(var i=0; i<infos.length; i++) { %>
                  <p class="alert alert-success"> <%= infos[i] %></p>
                <% } %>
              <% } %>
        <table class="table table-bordered">
        
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Parent</th>
                    <th>Action</th>
                </tr>
            </thead>
        
            <tbody>
                <% for(var i=0; i<locations.length; i++) { %>
                <tr>
                    <td><%= locations[i].id %></td>
                    <td><%= locations[i].name %></td>
                    <td><%= locations[i].type %></td>
                    <td><%= locations[i].parent_id %></td>
                    <td>
                        <a href="/locations/<%= locations[i].id %>/edit" class="btn btn-info btn-sm">Edit</a>
                        <a href="/locations/<%= locations[i].id %>/delete" onclick="return confirm('Are you sure to delete?');" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        
        </table>
    </div>
            
       </section>
</section>