

      <!-- Content Header (Page header) -->
      <section class="content-header">
            <h1>
             Edit Categories
            </h1>
           
          </section>
      
          <!-- Main content -->
          <section class="content">
            <div class="box box-solid box-info">
                <div class="box-body">

                <form action="/categories/<%= category.id %>/update" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" class="form-control" name="title" value="<%= category.title %>"/>
                        </div>
                    
                        <div class="form-group">
                            <label for="">Icon</label>
                            <input type="file" name="icon" id="icon" class="form-control">
                        </div>
                    
                        <div class="form-group">
                            <button class="btn btn-success">Submit</button>
                            <a href="/categories" class="btn btn-warning">Cancel</a>
                        </div>
                    </form>
                </div>  
            </div>
       </section>
</section>