      <!-- Content Header (Page header) -->
      <section class="content-header">
            <h1>
             Categories
            </h1>
           
          </section>
      
          <!-- Main content -->
          <section class="content">

    <p>
        <a href="/categories/create" class="btn btn-success">Add New</a>
    </p>

    <div class="box box-solid box-info">
        
        <table class="table table-bordered">
        
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Icon</th>
                    <th>Parent</th>
                    <th>Action</th>
                </tr>
            </thead>
        
            <tbody>
                <% for(var i=0; i<categories.length; i++) { %>
                <tr>
                    <td><%= categories[i].id %></td>
                    <td><%= categories[i].title %></td>
                    <td><%= categories[i].icon %></td>
                    <td><%= categories[i].parent_id %></td>
                    <td>
                        <a href="/categories/<%= categories[i].id %>/edit" class="btn btn-info btn-sm">Edit</a>
                        <a href="/categories/<%= categories[i].id %>/delete" onclick="return confirm('Are you sure to delete?');" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        
        </table>
    </div>
            
       </section>
</section>