    <% if(infos) { %>
      <% for(var i=0; i<infos.length; i++) { %>
        <p class="alert alert-success"> <%= infos[i] %></p>
      <% } %>
    <% } %>

    <% if(errors) { %>
      <% for(var i=0; i<errors.length; i++) { %>
        <p class="alert alert-danger"> <%= errors[i] %></p>
      <% } %>
    <% } %>

    <% if(error) { %>
      <% for(var i=0; i<error.length; i++) { %>
        <p class="alert alert-danger"> <%= error[i] %></p>
      <% } %>
    <% } %>