

      <!-- Content Header (Page header) -->
      <section class="content-header">
            <h1>
             Create New Users
            </h1>
           
          </section>
      
          <!-- Main content -->
          <section class="content">
            <div class="box box-solid box-info">
                <div class="box-body">
                    <form action="/users/store" method="POST">

                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" name="name" />
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" name="password" />
                        </div>
                        <div class="form-group">
                            <label for="">Phone</label>
                            <input type="text" class="form-control" name="phone" />
                        </div>
                        <div class="form-group">
                            <label for="">Role</label>
                            <input type="number" class="form-control" name="role" />
                        </div>
                        <div class="form-group">
                            <label for="">Address</label>
                            <input type="text" class="form-control" name="address" />
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-success">Submit</button>
                            <a href="/users" class="btn btn-warning">Cancel</a>
                        </div>
                        
                    </form>
                </div>
            </div>   
            
       </section>
</section>