

      <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
             Edit Users
            </h1>
           
        </section>
      
          <!-- Main content -->
          <section class="content">
            <div class="box box-solid box-info">
                <div class="box-body">
                    <form action="/users/<%= user.id %>/update" method="POST">

                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" name="name" value="<%= user.name %>"/>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="email" value="<%= user.email %>"/>
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" name="password" value="<%= user.email %>"/>
                        </div>
                        <div class="form-group">
                            <label for="">Phone</label>
                            <input type="text" class="form-control" name="phone" value="<%= user.phone %>"/>
                        </div>
                        <div class="form-group">
                            <label for="">Role</label>
                            <input type="number" class="form-control" name="role" value="<%= user.role %>"/>
                        </div>
                        <div class="form-group">
                            <label for="">Address</label>
                            <input type="text" class="form-control" name="address" value="<%= user.address %>"/>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-success">Submit</button>
                            <a href="/users" class="btn btn-warning">Cancel</a>
                        </div>
                        
                    </form>
                </div>  
            </div>
       </section>
</section>