

      <!-- Content Header (Page header) -->
      <section class="content-header">
            <h1>
             Create New Products
            </h1>
           
          </section>
      
          <!-- Main content -->
          <section class="content">
            <div class="box box-solid box-info">
                <div class="box-body">
                        <form action="/products/store" method="POST" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" class="form-control" name="title" />
                            </div>
                        
                            <div class="form-group">
                                <label for="">Thumbnail</label>
                                <input type="file" name="thumbnail" id="thumbnail" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="">Category Id</label>
                                <select name="category_id" id="category_id" class="form-control">
                                    <option value="">Choose One</option>
                                    <% for(var i=0; i<categories.length; i++) { %>
                                        <option value="<%= categories[i].id %>"> <%= categories[i].title %> </option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="">Brand Id</label>
                                <select name="brand_id" id="brand_id" class="form-control">
                                    <option value="">Choose One</option>
                                    <% for(var i=0; i<brands.length; i++) { %>
                                        <option value="<%= brands[i].id %>"> <%= brands[i].name %> </option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="">Price</label>
                                <input type="number" class="form-control" name="price" />
                            </div>

                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea name="description" id="description" cols="30" rows="4" class="form-control"></textarea>
                            </div>
                        
                            <div class="form-group">
                                <button class="btn btn-success">Submit</button>
                                <a href="/products" class="btn btn-warning">Cancel</a>
                            </div>
                        
                        </form>
                </div>
            </div>   
            
       </section>
</section>