      <!-- Content Header (Page header) -->
      <section class="content-header">
            <h1>
             Products
            </h1>
           
          </section>
      
          <!-- Main content -->
          <section class="content">

    <p>
        <a href="/products/create" class="btn btn-success">Add New</a>
    </p>

    <div class="box box-solid box-info">
        
        <table class="table table-bordered">
        
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
        
            <tbody>
                <% for(var i=0; i<products.length; i++) { %>
                <tr>
                    <td><%= products[i].id %></td>
                    <td><%= products[i].title %></td>
                    <td><%= products[i].category_id %></td>
                    <td><%= products[i].brand_id %></td>
                    <td><%= products[i].price %></td>
                    <td><%= products[i].description %></td>
                    <td><%= products[i].created_by %></td>
                    <td> <img src="/uploads/<%= products[i].thumbnail %>" class="thumbnail-img" alt="AwesomeStore"/> </td>
                    <td>
                        <a href="/products/<%= products[i].id %>/edit" class="btn btn-info btn-sm">Edit</a>
                        <a href="/products/<%= products[i].id %>/delete" onclick="return confirm('Are you sure to delete?');" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        
        </table>
    </div>
            
       </section>
</section>