

      <!-- Content Header (Page header) -->
      <section class="content-header">
            <h1>
             Edit Brands
            </h1>
           
          </section>
      
          <!-- Main content -->
          <section class="content">
            <div class="box box-solid box-info">
                <div class="box-body">

                <form action="/brands/<%= brand.id %>/update" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" name="name" value="<%= brand.name %>"/>
                        </div>
                    
                        <div class="form-group">
                            <label for="">Logo</label>
                            <input type="file" name="logo" id="logo" class="form-control">
                        </div>
                    
                        <div class="form-group">
                            <button class="btn btn-success">Submit</button>
                            <a href="/brands" class="btn btn-warning">Cancel</a>
                        </div>
                    </form>
                </div>  
            </div>
       </section>
</section>